@import url('https://fonts.googleapis.com/css2? family = Open + Sans: ital, wght @ 0,400; 0,700; 1,400 & display = swap');

:root {
  --background_color-header: ;
  --background-header: radial-gradient(circle at 120.71% 50%, #1c3435 0, #182a29 16.67%, #121b1a 33.33%, #000000 50%, #000000 66.67%, #000000 83.33%, #000000 100%);
  --color-header: #fff;
  --background_color-nav-ul: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(167, 22, 22, 1) 0%, rgba(145, 36, 40, 1) 25%, rgba(98, 100, 118, 1) 100%, rgba(0, 212, 255, 1) 100%);
  ;
  ;
  --hover-nav-ul-li: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(74, 24, 49, 1) 0%, rgba(65, 21, 47, 1) 28%, rgba(227, 75, 75, 1) 100%, rgba(0, 212, 255, 1) 100%);
  --color-nav-ul-li-a: #fff;
  --background_color-cards: #fff;
  --background_color-cards-contenido-button: rgba(2, 0, 36, 0.726);
  --background_color-cards-contenido-button_hover: rgba(75, 129, 136, 0.993);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Century Gothic', sans-serif;
}

header {
  width: 100%;
  padding: 40px;
  color: var(--color-header);
  text-align: center;
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(167, 22, 22, 1) 0%, rgba(0, 212, 255, 1) 100%);
  display: flex;
  align-items: center;
}

.box-logo {
  width: 40%;
  display: flex;
  justify-content: flex-end;
  padding-right: 1em;
}

.box-logo img {
  width: 10%;
}

@media screen and (max-width: 800px) {
  .box-logo img {
    width: 40%;
  }
}

@media screen and (max-width: 530px) {
  .box-logo {
    width: 80%;
  }

  .box-logo img {
    width: 70%;
  }
}

.menu-fixed {
  position: fixed;
  z-index: 1000;
  top: 0;
  max-width: 100%;
  width: 100%;
  box-shadow: 0px 4px 3px rgba(46, 44, 44, 0.5);
  transition: all 3s ease-in-out;
}


nav ul {
  background: var(--background_color-nav-ul);
  text-align: center;
  list-style: none;
  overflow: hidden;

}

nav ul li {
  display: inline-block;
  padding: 20px;
  transition: all ease-in-out 1s;
}

nav ul li:hover {
  background: var(--hover-nav-ul-li);
}

nav ul li a {
  color: var(--color-nav-ul-li-a);
  text-decoration: none;
}


.hide {
  padding: 16px;
  font-size: 22px;
  background: #112d4e;
  color: white;
  cursor: pointer;
  display: none;
}

@media (max-width: 768px) {
  ul li {
    width: 100%;
    padding: 15px;
    text-align: left;
  }

  .hide {
    display: block;
  }

  nav ul {
    display: none;

  }
}



.main_title {
  width: 95%;
  margin: 2em auto;
}

.main_title h2 {
  /* font-family:Open-sans; */
  font-weight: 300;
}

.card {
  display: flex;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, 1fr);
  flex-direction: row;
  justify-content: space-evenly;
  flex-flow: wrap;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  background-color: #f8f6f6bd;
}

/* Media (Responsive) */

@media screen and (min-width: 1170px) {
  .card {
    flex-flow: nowrap;
  }
}

@media screen and (max-width: 1160px) {
  .card {
    width: 70%;
  }
}

@media screen and (max-width: 1160px) {
  .card {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 620px) {
  .card {
    grid-template-columns: repeat(1, 2fr);
    grid-gap: 50px;
  }
}

@media screen and (max-width: 360px) {


  .card .card-c0 {
    width: 80%;
  }
}

/* @media screen and (max-width: 470px) {
  .card {
    width: 100%;
  }
} */


.card-c0 {
  width: 80%;
  /* margin: 20px; */
  margin: 1em auto;
  border-radius: 6px;
  overflow: hidden;
  background-color: var(--background_color-cards);
  box-shadow: 0px 1px 10px rgba(166, 112, 216, 0.377);
  cursor: default;
  transition: all .2s ease;
}

.card-c0:hover {
  box-shadow: 0px 1px 10px #0515274d;
  transform: translateY(-2%);
}

.card-c0 img {
  width: 100%;
  height: 210px;
  object-fit: cover;
}

.card-c0 .contenido {
  padding: 15px;
  text-align: center;
}

.card-c0 .contenido p {
  line-height: 1.5;
  color: #636262;
}

.card-c0 .contenido h3 {
  font-weight: 400;
  margin-bottom: 15px;
}

.card-c0 .contenido a {
  text-decoration: none;
  display: inline-block;
  padding: 10px 50px;
  margin-top: 10px;
  color: #fff;
  background-color: var(--background_color-cards-contenido-button);
  border: 1px solid #1500405b;
  border-radius: 8px;
  transition: .1s ease;
}

.card-c0 .contenido a:hover {
  background-color: var(--background_color-cards-contenido-button_hover);
  transform: scale(1.1);
}

.container-aside {
  margin: 2em;
}

.row {
  display: flex;
  width: 100%;
  height: 450px;
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
}

.row .box-info {
  width: 50%;
  background-color: #f3eded;
  color: rgb(0, 0, 0);
  text-align: center;
  border-radius: 0 0 0 20px;
}

.row .box-info h3 {
  padding: 1em 0 10px;
  font-size: 2em;
  font-weight: 300;
}

.row .box-info img {
  width: 100%;
  display: block;
  margin: auto;
  height: 300px;
  -o-object-fit: cover;
  object-fit: cover;

}

.row .more-inf {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  color: rgb(0, 0, 0);
  background-color: #f0ebeb;
  border-radius: 0 20px 0 0;
}

.row .more-inf h2 {
  font-weight: 400;
  margin-bottom: 20px;
  font-size: 2em;
}

.row .more-inf p {
  line-height: 1.9;
  font-size: 18px;
}

.row .more-inf a {
  text-decoration: none;
  display: inline-block;
  padding: 10px 2em;
  background-color: var(--background_color-cards-contenido-button);
  border-radius: 10px;
  color: #000000;
  transition: .2s ease;
}

.row .more-inf a:hover {
  background-color: var(--background_color-cards-contenido-button_hover);
  transform: rotate(360deg);
}

.abaut-iframe {
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
}

.main_box {
  margin: auto;
  padding: 1em 10px 0;
}

.main_box .container {
  display: flex;
  grid-gap: 30px;
  justify-content: center;
  align-items: center;
}

.main_box .container .img {
  width: 40%;
  max-width: 600px;
}

.main_box .container-box h3 {
  padding-bottom: 1em;
}

.main_box .container-box p {
  line-height: 1.6em;
}

@media screen and (max-width: 860px) {
  .main_box .container {
    display: flex;
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    grid-gap: 20px;
    justify-content: center;
    align-items: center;
  }

  .main_box .container .img {
    width: 100%;
    margin: auto;
    max-width: 1100px;
  }
}

.button-more {
  text-decoration: none;
  display: inline-block;
  padding: 10px 20px;
  margin-top: 10px;
  color: #fff;
  background-color: var(--background_color-cards-contenido-button);
  border: 1px solid #1500402c;
  border-radius: 8px;
  transition: .1s ease;
}

.button-more:hover {
  background-color: var(--background_color-cards-contenido-button_hover);
  transform: scale(1.1);
  box-shadow: 2px 1px 10px rgba(0, 0, 0, 0.247);
}

.gallery {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
  padding: 20px;
}

.gallery h1 {
  font-size: 2.6rem;
  text-align: center;
  padding: 5rem 0;
  font-weight: 300;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0;
}

.grid .item {
  overflow: hidden;
}

.grid .item img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  transition: .6s ease;
}

@media (max-width:768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width:540px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

.section-form {
  background-color: #dde3e9;
  background-image: linear-gradient(to right, #eee3e6, #d8e8f8);
  min-height: 100vh;
  display: grid;
  place-items: center;
  animation: section-form 20s infinite alternate;
  width: 80%;
  margin: auto;
  /* border-radius: 100px; */
  margin-bottom: 1em;
}

@keyframes section-form {

  20%,
  20% {
    background-image: linear-gradient(to right, #f4f8ff, #fae6e6);
  }

}

.container-form {
  width: 100%;
  height: auto;
  background-color: #000000b7;
  padding: 20px;
  border-radius: 15px;
  animation: form 5s alternate infinite;
  box-shadow: 1px 2px 10px #00002a;
}

@keyframes form {

  20%,
  20% {
    background-color: #1300109a;
  }

  50%,
  40% {
    background-color: #00000060;
  }

  80%,
  60% {
    background-color: #170018f5;
  }
}

.form {
  width: 100%;
  box-shadow: 2px 1px 20px #000018;
}

fieldset {
  color: #fff;
  font-size: 1.2rem;
  height: auto;
  width: 100%;
  border-color: #fff;
  padding: 8px;
}

.block {
  width: 80%;
}

.form-header-only {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-title {
  padding: 5px;
}

.alert {
  width: 30%;
  display: grid;
  place-items: center;
  text-align: center;
  padding: 10px 12px;
  border-radius: 10px;
}

.alertSuccess {
  background-color: rgb(18, 243, 10);
}

.alertError {
  background-color: rgb(255, 136, 0);
}

.input {
  display: block;
  width: 100%;
}

.input {
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 15px;
  outline: 3px solid rgba(255, 255, 255, 0.527);
}

.input:focus {
  outline-color: rgb(142, 78, 158);
}

.success {
  outline-color: rgb(18, 243, 10);
}

.error {
  outline-color: rgb(199, 0, 0);
}

.submit {
  display: block;
  margin: 15px auto;
  padding: 10px 40px;
  border-radius: 10px;
  border: none;
}

.submit:hover {
  background: var(--background_color-cards-contenido-button);
  color: #fff;
  transition: .3s ease;
  transform: scale(1.1);
  cursor: pointer;
  box-shadow: 2px 1px 10px rgb(3, 22, 0);
}

.submit:focus {
  border: none;
  outline: none;
}

@media screen and (min-width:600px) {
  .container-form {
    width: 80%;
  }

}

@media screen and (min-width:770px) {
  .container-form {
    width: 60%;
  }

}

@media screen and (min-width:1024px) {
  .container-form {
    width: 70%;
  }
}

.back {
  color: floralwhite;
  background: orangered;
  padding: 10px 20px;
  font-size: 1em;
  border-radius: 5px;
  opacity: 0.4;
  transition: all .3s ease-in-out;
}

.back:hover {
  opacity: 1;
}

footer {
  background-color: #010105;
  height: auto;
  width: 100%;
  font-family: sans-serif;
  padding-top: 40px;
  color: #f2f2f2;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-content h3 {
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}

.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 20px;
  font-size: 14px;
}

.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}

.socials li {
  margin: 0 10px;
}

.socials a {
  text-decoration: none;
  color: #fff;
}

.socials a i {
  font-size: 1.1rem;
}

.socials a:hover i {
  color: #0624ce;
}


.footer-bottom {
  background-color: #010105;
  width: 100%;
  padding: 20px 0;
  text-align: center;
  color: #f2f2f2;
}

.footer-bottom p {
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}

.aside {
  margin-top: 30px;
  margin-bottom: 25px;
  display: flex;
}

@media screen and (max-width: 870px) {
  .aside {
    width: 100%;
    margin-top: 1em;
  }

  .aside-icons {
    display: flex;
    flex-direction: column;
    grid-gap: 50px;
    font-size: 20px;
  }
}

/* 
.aside .fw-300{
  font-weight: 300;
} */

.aside-icons {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.aside-icons::before {
  content: '';
  background-color: #6370b92f;
  position: absolute;
  width: 60px;
  height: 400px;
  box-shadow: 20px 2px 60px rgba(0, 0, 0, 0.5);
  border-radius: 0px 10px 10px 0px;
}

@media screen and (max-width: 480px) {
  .aside-icons::before {
    content: '';
    width: 30px;
    box-shadow: 10px 2px 60px rgba(0, 0, 0, 0.514);
  }
}

.iconos {
  flex-basis: calc(33.3% - 1rem);
  text-align: center;
}

.iconos img {
  width: 30%;
  padding-bottom: 20px;
}


.iconos h3 {
  margin-bottom: 1rem;
  font-size: 2em;
  font-weight: 300;
}

.iconos p {
  width: 65%;
  margin: auto;
}

/* Style ilms */

.movie {
  width: 95%;
  margin: auto;
}

.movie .box-title {
  padding: 2em;
}

.movie .box-title h3 {
  font-size: 2em;
}

.box-cap {
  width: 80%;
  max-width: 80%;
  background-color: rgb(39, 39, 39);
  color: rgb(0, 0, 0);
  overflow: hidden;
  overflow: scroll;
  height: 300px;
  text-align: center;
  border-radius: 10px;
  box-shadow: inset 3px 3px 20px black;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.box-cap::-webkit-scrollbar {
  width: 20px;
}

.box-cap::-webkit-scrollbar-thumb {
  background: rgb(248, 117, 117);
  border-radius: 4px;
}

.box-cap::-webkit-scrollbar-thumb:active {
  background-color: #999999;
}

.box-cap::-webkit-scrollbar-thumb:hover {
  background: #55d5df;
  transition: 0.6s;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -ms-transition: 0.6s;
  -o-transition: 0.6s;
}

.box-cap h3 {
  padding: 20px;
  letter-spacing: 6px;
  color: #f3eded;
  font-size: 1.3em;
}

.box-cap .caps {
  border: 2px soldi rgb(207, 207, 207);
  width: 850px;
  height: 200px;
  /* background-color: blanchedalmond; */
  padding: 20px;
}

.caps-content {
  padding-bottom: 1em;
}

.caps-content a {
  display: flex;
  background-color: #141414;
  color: #fff;
}



.caps-content .cap-img img {
  width: 90%;
}

.caps-content a {
  text-decoration: none;
}


.caps-content .cap-text {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.caps-content .cap-text h4 {
  font-size: 1.2em;
  font-weight: 800;
  padding: 1em 0;
  color: #ffffff;
}




.whatsapp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
}

.whatsapp a {
  display: block;
  width: 60px;
  height: 60px;
  background-color: green;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 60px;
  font-size: 30px;
  transition: all 0.3s ease-in-out;
}

.whatsapp a:hover {
  transform: scale(1.1);
}
